html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  /* font-family: "Yeseva One", cursive; */
  font-family: Comfortaa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
}
.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

header {
  background-color: #fff8f3;
}
.header__inner {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}
.logo__img {
}
.menu {
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.menu__list-item {
}
.menu__list-link {
  text-transform: uppercase;
}
.phone {
  position: relative;
}
.phone::before{
  content: '';
  position: absolute;
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -4px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.phone {
}
.mail {
  margin: 17px 0;
}
.footer__social {
}
.footer__social-item {
}
.footer__social-link {
}
.footer__social-img {
}